.pekac
  width 100%
  height 600px
  .bars
    position absolute
    top 0px
    left 0px
    width 100%
    height 350px
    overflow hidden
    .pager
      position absolute
      top 0px
      left 0px
      height 300px
      transition left 0.8s
    .bar
      position absolute
      left 0px
      width 50px
      height 100%
      .texts
        position absolute
        width 100%
        top 305px
      .name
        display block
        text-align center
      .result
        display block
        text-align center
      .barArea
        position absolute
        bottom 0px
        left 0px
        width 50px
        background #aaa
