@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Pekac
  @import SenatKosti
  @import Supplemental

.ig
  h2
    font-size 24px
    color #036
    margin 0px
