.senatKosti
  position relative
  h2
    position absolute
    top 5px
  .kosti
    padding-top 50px
    padding-right 130px
    .kost
      float left
      width 24px
      height 24px
      background #aaa
      margin-right 10px
      margin-bottom 10px
      position relative
      border-radius 2px
      overflow hidden
      .first
      .second
        position absolute
        top 0px
        width 50%
        height 100%
      .first
        left 0px
      .second
        right 0px
      &.decided
        .first
          width 100%
        .second
          display none
