.senatKosti
  position relative
  width (990px)
  height 350px
  img
    width 100%
    padding-right 140px
    margin-top 40px
    position relative
    z-index 2
    opacity 0.5
  h2
    position absolute
    top 5px
    .sub
      color ColorHeading
      font-size 14px
      font-weight normal
      padding-left 20px
      text-decoration underline
      &:hover
        cursor pointer
        text-decoration none
  .kosti
    position absolute
    padding-right 130px
    top 40px
    left 0px
    width 100%
    height 290px
    z-index 3
    .kost
      position absolute
      width 24px
      height 24px
      margin-left -12px
      margin-top -12px
      cursor pointer
      .first
      .second
        background #aaa
        position absolute
        top 0px
        width 50%
        height 100%
        z-index 3
      .first
        border-top-left-radius 3px
        border-bottom-left-radius 3px
        left 0px
      .second
        border-top-right-radius 3px
        border-bottom-right-radius 3px
        right 0px
      &.decided
        .first
          border-radius 3px
          width 100%
        .second
          display none
      .previous
        width 24px + 10px
        height 24px + 10px
        position relative
        left -5px
        top -5px
        z-index 2
        opacity 0.4

